In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [7]:
def load_data(file_name):
    df = pd.read_csv("D:/Innovation/DataSet/" + file_name ,encoding='gbk')
    columns = df.columns
    df.fillna(df.mean(numeric_only=True) ,inplace=True)
    return df

In [13]:
df = load_data("lai.csv")
df

,学工号,姓名,交易额,交易时间,商户名称,交易日期,星期
0,2021****86,赖**,8.90,2023/4/25 18:02,淘乐学苑水果,2023/4/25,星期二
1,2021****86,赖**,11.84,2023/4/25 17:35,美食林小猪憨尼麻辣烫,2023/4/25,星期二
2,2021****86,赖**,13.00,2023/4/25 11:46,美食林川蜀源烤鱼,2023/4/25,星期二
3,2021****86,赖**,2.65,2023/4/25 7:49,学苑食堂副食一组,2023/4/25,星期二
4,2021****86,赖**,18.40,2023/4/24 17:57,紫丁香餐吧机器人收银组,2023/4/24,星期一
...,...,...,...,...,...,...,...
1391,2021****86,赖**,14.00,2022/1/1 11:22,民族二餐厅自助榆林镇筋饼,2022/1/1,星期六
1392,2021****86,赖**,0.19,2022/1/1 2:04,B02公寓浴池,2022/1/1,星期六
1393,2021****86,赖**,0.17,2022/1/1 2:04,B02公寓浴池,2022/1/1,星期六
1394,2021****86,赖**,0.09,2022/1/1 2:03,B02公寓浴池,2022/1/1,星期六
1395,2021****86,赖**,0.01,2022/1/1 2:03,B02公寓浴池,2022/1/1,星期六

In [21]:
from chinese_calendar import is_workday
import datetime

In [24]:
workday = []

for date in df['交易日期'] :
    date = datetime.datetime.strptime(date, "%Y/%m/%d").date()
    if is_workday(date):
        workday.append(1)
    else :
        workday.append(0)

workday[0]

1

In [25]:
df['是否为工作日'] = workday

In [26]:
df

,学工号,姓名,交易额,交易时间,商户名称,交易日期,星期,是否为工作日
0,2021****86,赖**,8.90,2023/4/25 18:02,淘乐学苑水果,2023/4/25,星期二,1
1,2021****86,赖**,11.84,2023/4/25 17:35,美食林小猪憨尼麻辣烫,2023/4/25,星期二,1
2,2021****86,赖**,13.00,2023/4/25 11:46,美食林川蜀源烤鱼,2023/4/25,星期二,1
3,2021****86,赖**,2.65,2023/4/25 7:49,学苑食堂副食一组,2023/4/25,星期二,1
4,2021****86,赖**,18.40,2023/4/24 17:57,紫丁香餐吧机器人收银组,2023/4/24,星期一,1
...,...,...,...,...,...,...,...,...
1391,2021****86,赖**,14.00,2022/1/1 11:22,民族二餐厅自助榆林镇筋饼,2022/1/1,星期六,0
1392,2021****86,赖**,0.19,2022/1/1 2:04,B02公寓浴池,2022/1/1,星期六,0
1393,2021****86,赖**,0.17,2022/1/1 2:04,B02公寓浴池,2022/1/1,星期六,0
1394,2021****86,赖**,0.09,2022/1/1 2:03,B02公寓浴池,2022/1/1,星期六,0
1395,2021****86,赖**,0.01,2022/1/1 2:03,B02公寓浴池,2022/1/1,星期六,0

In [32]:
climate = load_data('天气数据.csv')
climate = climate.iloc[:11628]
climate

,当地时间 哈尔滨太平(机场）,气温,气象站大气压,海平面大气压,相对湿度,风向,平均风速,最大阵风,特殊天象,重要天象,总云量,能见度,露点温度,时间,日期
0,01.05.2023 16:00,19,746.0,758.2,37,从西南方吹来的风,4,9.00,NaN,NaN,无明显的云,10.0 大于等于,4,16:00,01.05.2023
1,01.05.2023 15:00,19,746.0,758.2,35,从西南偏西方向吹来的风,7,14.08,NaN,NaN,无明显的云,10.0 大于等于,3,15:00,01.05.2023
2,01.05.2023 14:00,19,746.8,759.0,40,从西南方吹来的风,5,14.08,NaN,NaN,无明显的云,10.0 大于等于,5,14:00,01.05.2023
3,01.05.2023 13:00,17,746.7,759.0,45,从西方吹来的风,5,14.08,NaN,NaN,无明显的云,10.0 大于等于,5,13:00,01.05.2023
4,01.05.2023 12:00,17,746.7,759.0,42,从西方吹来的风,5,14.08,NaN,NaN,无明显的云,10.0 大于等于,4,12:00,01.05.2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11623,01.01.2022 04:00,-24,758.8,773.4,70,从东南方吹来的风,2,14.08,NaN,NaN,无明显的云,7,-28,4:00,01.01.2022
11624,01.01.2022 03:00,-26,759.2,773.9,76,从东南偏南方向吹来的风,2,14.08,NaN,NaN,无明显的云,7,-29,3:00,01.01.2022
11625,01.01.2022 02:00,-27,759.1,773.9,76,从东南偏东方向吹来的风,1,14.08,NaN,NaN,无明显的云,6,-30,2:00,01.01.2022
11626,01.01.2022 01:00,-27,759.9,774.7,83,风向多变,1,14.08,NaN,NaN,无明显的云,6,-29,1:00,01.01.2022
11627,01.01.2022 00:00,-27,759.9,774.7,76,从东南偏南方向吹来的风,1,14.08,NaN,NaN,无明显的云,6,-30,0:00,01.01.2022

In [33]:
climate['重要天象'].value_counts()

阵性, 雨    33
雷暴       21
雷暴, 雨     6
雨         6
雪         5
沙暴        1
Name: 重要天象, dtype: int64

In [34]:
climate['特殊天象'].value_counts()

轻雾                    576
烟                     551
轻度（小）（弱） 雪            228
轻度（小）（弱） 雨            224
霾                     203
轻度（小）（弱） 雪, 轻雾        184
轻度（小）（弱） 阵性, 雨        148
轻雾, 烟                 131
沙                      69
轻度（小）（弱） 雨, 轻雾         34
冻 雾                    23
轻度（小）（弱） 雷暴, 雨         17
轻度（小）（弱） 雪, 烟          15
轻度（小）（弱） 阵性, 雨, 轻雾     13
霾, 烟                   13
冻 雾, 烟                 12
轻度（小）（弱） 雨, 雪          11
雾                      10
雷暴                      8
阵性, 雨                   8
轻度（小）（弱） 雪,冻 雾          7
尘                       6
雷暴, 雨                   6
轻度（小）（弱） 雷暴, 雨, 轻雾      5
沙暴                      5
雪                       4
烟, 轻雾                   4
轻度（小）（弱） 雪, 霾           3
轻度（小）（弱） 雨, 雪, 轻雾       3
雨                       2
轻度（小）（弱） 雪, 轻雾, 烟       2
轻度（小）（弱） 雨, 雾           1
强度 阵性, 雨                1
轻度（小）（弱） 雨, 沙           1
Name: 特殊天象, dtype: int64

In [39]:
climate = climate[['气温','气象站大气压','海平面大气压','相对湿度','平均风速','特殊天象','重要天象','时间','日期']]
climate

       气温  气象站大气压  海平面大气压  相对湿度  平均风速 特殊天象 重要天象     时间          日期
0      19   746.0   758.2    37     4  NaN  NaN  16:00  01.05.2023
1      19   746.0   758.2    35     7  NaN  NaN  15:00  01.05.2023
2      19   746.8   759.0    40     5  NaN  NaN  14:00  01.05.2023
3      17   746.7   759.0    45     5  NaN  NaN  13:00  01.05.2023
4      17   746.7   759.0    42     5  NaN  NaN  12:00  01.05.2023
...    ..     ...     ...   ...   ...  ...  ...    ...         ...
11623 -24   758.8   773.4    70     2  NaN  NaN   4:00  01.01.2022
11624 -26   759.2   773.9    76     2  NaN  NaN   3:00  01.01.2022
11625 -27   759.1   773.9    76     1  NaN  NaN   2:00  01.01.2022
11626 -27   759.9   774.7    83     1  NaN  NaN   1:00  01.01.2022
11627 -27   759.9   774.7    76     1  NaN  NaN   0:00  01.01.2022

[11628 rows x 9 columns]

In [40]:
day = climate['日期'].str[0:2]
month = climate['日期'].str[3:5]
year = climate['日期'].str[6:10]
date = year + '-' + month + '-'+ day
climate['date'] = date
climate

C:\Users\yijie lai\AppData\Local\Temp\ipykernel_15588\649916437.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  climate['date'] = date

       气温  气象站大气压  海平面大气压  相对湿度  平均风速 特殊天象 重要天象     时间          日期        date
0      19   746.0   758.2    37     4  NaN  NaN  16:00  01.05.2023  2023-05-01
1      19   746.0   758.2    35     7  NaN  NaN  15:00  01.05.2023  2023-05-01
2      19   746.8   759.0    40     5  NaN  NaN  14:00  01.05.2023  2023-05-01
3      17   746.7   759.0    45     5  NaN  NaN  13:00  01.05.2023  2023-05-01
4      17   746.7   759.0    42     5  NaN  NaN  12:00  01.05.2023  2023-05-01
...    ..     ...     ...   ...   ...  ...  ...    ...         ...         ...
11623 -24   758.8   773.4    70     2  NaN  NaN   4:00  01.01.2022  2022-01-01
11624 -26   759.2   773.9    76     2  NaN  NaN   3:00  01.01.2022  2022-01-01
11625 -27   759.1   773.9    76     1  NaN  NaN   2:00  01.01.2022  2022-01-01
11626 -27   759.9   774.7    83     1  NaN  NaN   1:00  01.01.2022  2022-01-01
11627 -27   759.9   774.7    76     1  NaN  NaN   0:00  01.01.2022  2022-01-01

[11628 rows x 10 columns]

In [42]:
climate.to_csv('D:/Innovation/DataSet/climate.csv',sep= ',', encoding='gbk')

In [43]:
climate = load_data('climate.csv')
climate

       气温  气象站大气压  海平面大气压  相对湿度  平均风速 特殊天象 重要天象     时间      date
0      19   746.0   758.2    37     4  NaN  NaN  16:00  2023/5/1
1      19   746.0   758.2    35     7  NaN  NaN  15:00  2023/5/1
2      19   746.8   759.0    40     5  NaN  NaN  14:00  2023/5/1
3      17   746.7   759.0    45     5  NaN  NaN  13:00  2023/5/1
4      17   746.7   759.0    42     5  NaN  NaN  12:00  2023/5/1
...    ..     ...     ...   ...   ...  ...  ...    ...       ...
11623 -24   758.8   773.4    70     2  NaN  NaN   4:00  2022/1/1
11624 -26   759.2   773.9    76     2  NaN  NaN   3:00  2022/1/1
11625 -27   759.1   773.9    76     1  NaN  NaN   2:00  2022/1/1
11626 -27   759.9   774.7    83     1  NaN  NaN   1:00  2022/1/1
11627 -27   759.9   774.7    76     1  NaN  NaN   0:00  2022/1/1

[11628 rows x 9 columns]

In [44]:
clm = climate[climate['时间'] == '12:00']
clm

       气温  气象站大气压  海平面大气压  相对湿度  平均风速        特殊天象 重要天象     时间       date
4      17   746.7   759.0    42     5         NaN  NaN  12:00   2023/5/1
28      6   739.6   752.3   100     3  轻度（小）（弱） 雨  NaN  12:00  2023/4/30
52     12   740.7   753.1    77     5         NaN  NaN  12:00  2023/4/29
76     11   745.1   757.7    94     4          轻雾  NaN  12:00  2023/4/28
100    19   743.2   755.4    32     8         NaN  NaN  12:00  2023/4/27
...    ..     ...     ...   ...   ...         ...  ...    ...        ...
11519 -15   756.4   770.4    60     3         NaN  NaN  12:00   2022/1/5
11543 -16   759.3   773.4    55     2         NaN  NaN  12:00   2022/1/4
11567 -13   749.7   763.5    61     3         NaN  NaN  12:00   2022/1/3
11591 -13   751.9   765.8    56     6         NaN  NaN  12:00   2022/1/2
11615 -17   753.2   767.3    60     4         NaN  NaN  12:00   2022/1/1

[486 rows x 9 columns]

In [45]:
clm.to_csv('D:/Innovation/DataSet/clm.csv',sep= ',', encoding='gbk')

In [49]:
clm = load_data('clm.csv')
clm

     气温  气象站大气压  海平面大气压  相对湿度  平均风速        特殊天象 重要天象     时间       date
0    17   746.7   759.0    42     5         NaN  NaN  12:00   2023/5/1
1     6   739.6   752.3   100     3  轻度（小）（弱） 雨  NaN  12:00  2023/4/30
2    12   740.7   753.1    77     5         NaN  NaN  12:00  2023/4/29
3    11   745.1   757.7    94     4          轻雾  NaN  12:00  2023/4/28
4    19   743.2   755.4    32     8         NaN  NaN  12:00  2023/4/27
..   ..     ...     ...   ...   ...         ...  ...    ...        ...
481 -15   756.4   770.4    60     3         NaN  NaN  12:00   2022/1/5
482 -16   759.3   773.4    55     2         NaN  NaN  12:00   2022/1/4
483 -13   749.7   763.5    61     3         NaN  NaN  12:00   2022/1/3
484 -13   751.9   765.8    56     6         NaN  NaN  12:00   2022/1/2
485 -17   753.2   767.3    60     4         NaN  NaN  12:00   2022/1/1

[486 rows x 9 columns]

In [86]:
def join_feature(feature):
    result = []
    for date_i in df["交易日期"]:
        for date_j in clm['date']:
            if date_i == date_j:
                temp = clm[clm['date'] == date_i]
                result.append(temp[feature].values[0])
    return result

In [87]:
temperature = join_feature("气温")
print(temperature[0])

7

In [88]:
df['气温'] = temperature
df

,学工号,姓名,交易额,交易时间,商户名称,交易日期,星期,是否为工作日,气温
0,2021****86,赖**,8.90,2023/4/25 18:02,淘乐学苑水果,2023/4/25,星期二,1,7
1,2021****86,赖**,11.84,2023/4/25 17:35,美食林小猪憨尼麻辣烫,2023/4/25,星期二,1,7
2,2021****86,赖**,13.00,2023/4/25 11:46,美食林川蜀源烤鱼,2023/4/25,星期二,1,7
3,2021****86,赖**,2.65,2023/4/25 7:49,学苑食堂副食一组,2023/4/25,星期二,1,7
4,2021****86,赖**,18.40,2023/4/24 17:57,紫丁香餐吧机器人收银组,2023/4/24,星期一,1,14
...,...,...,...,...,...,...,...,...,...
1391,2021****86,赖**,14.00,2022/1/1 11:22,民族二餐厅自助榆林镇筋饼,2022/1/1,星期六,0,-17
1392,2021****86,赖**,0.19,2022/1/1 2:04,B02公寓浴池,2022/1/1,星期六,0,-17
1393,2021****86,赖**,0.17,2022/1/1 2:04,B02公寓浴池,2022/1/1,星期六,0,-17
1394,2021****86,赖**,0.09,2022/1/1 2:03,B02公寓浴池,2022/1/1,星期六,0,-17
1395,2021****86,赖**,0.01,2022/1/1 2:03,B02公寓浴池,2022/1/1,星期六,0,-17

In [93]:
surface_p = join_feature('气象站大气压')
ocean_p = join_feature('海平面大气压')
humidity = join_feature('相对湿度')
wind = join_feature('平均风速')
df['气象站大气压'] = surface_p
df['海平面大气压'] = ocean_p
df['相对湿度'] = humidity
df['平均风速'] = wind
df

,学工号,姓名,交易额,交易时间,商户名称,交易日期,星期,是否为工作日,气温,气象站大气压,海平面大气压,相对湿度,平均风速
0,2021****86,赖**,8.90,2023/4/25 18:02,淘乐学苑水果,2023/4/25,星期二,1,7,742.7,755.4,66,10
1,2021****86,赖**,11.84,2023/4/25 17:35,美食林小猪憨尼麻辣烫,2023/4/25,星期二,1,7,742.7,755.4,66,10
2,2021****86,赖**,13.00,2023/4/25 11:46,美食林川蜀源烤鱼,2023/4/25,星期二,1,7,742.7,755.4,66,10
3,2021****86,赖**,2.65,2023/4/25 7:49,学苑食堂副食一组,2023/4/25,星期二,1,7,742.7,755.4,66,10
4,2021****86,赖**,18.40,2023/4/24 17:57,紫丁香餐吧机器人收银组,2023/4/24,星期一,1,14,754.0,766.6,14,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1391,2021****86,赖**,14.00,2022/1/1 11:22,民族二餐厅自助榆林镇筋饼,2022/1/1,星期六,0,-17,753.2,767.3,60,4
1392,2021****86,赖**,0.19,2022/1/1 2:04,B02公寓浴池,2022/1/1,星期六,0,-17,753.2,767.3,60,4
1393,2021****86,赖**,0.17,2022/1/1 2:04,B02公寓浴池,2022/1/1,星期六,0,-17,753.2,767.3,60,4
1394,2021****86,赖**,0.09,2022/1/1 2:03,B02公寓浴池,2022/1/1,星期六,0,-17,753.2,767.3,60,4
1395,2021****86,赖**,0.01,2022/1/1 2:03,B02公寓浴池,2022/1/1,星期六,0,-17,753.2,767.3,60,4

In [94]:
df.to_csv('D:/Innovation/DataSet/混合数据.csv',sep= ',', encoding='gbk')